*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  /* width: 600px; */
  margin: 0 auto;
}

.title{
  color: #333;

}

.CreateNft{
  /* margin: 0 auto; */
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* margin-bottom: 32px; */
}

.CreateNft h2{
  margin: 32px 0;
}

.CreateNft input{
  display: block;
  /* margin: 0 auto 8px; */
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: auto;
}

.cta-button{
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  width: auto;
}

img{
  width: 100px;
}