*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  /* width: 600px; */
  margin: 0 auto;
}

.title{
  color: #333;

}

img{
  width: 100px;
}

.cta-button{
  display: block;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  width: auto;
}


.registerNft{
  /* margin: 0 auto; */
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* margin-bottom: 32px; */
}

.registerNft h2{
  margin: 32px 0;
}

.registerNft input{
  display: block;
  /* margin: 0 auto 8px; */
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: auto;
}

.registerNft .cta-button:nth-of-type(2){
  margin-top: 60px;
}

/* ###
nftListPage
### */
.nftListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
}

.nftListCard{
  border: 1px solid #ddd;
  width: 360px;
  padding: 12px 0;
}
.nftListCard button{
  display: inline;
  margin-top: 8px;
}
.nftList.cta-button{
  margin: 60px auto 0;
}

/* ###
mintPage
### */
.mintPageContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mintPageCard .cta-button{
  margin: 0 auto;
  margin-bottom: 60px;
}

.mintPageCard img{
  width: 200px;
  margin-bottom: 20px;
}
.mintPageCard p{
  margin-bottom: 6px;
}